html {
    background-color:lightgray;
}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    max-width: 960px;
    position:relative;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    color:darkcyan;
}

h3 {
    color:chocolate;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
    nav a {
        color: #333;
        text-decoration: none;
        padding: 10px;
    }
        nav a:hover {
            background-color: #333;
            color: #fff;
        }

main {
    padding: 20px;
    background-color:antiquewhite;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

    .product img {
        max-width: 100%;
        height: auto;
    }

/*    .product input[type='number'] {
        width: 80px;
    }*/

.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

.cart {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
}

    .cart button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

.add-to-cart {
    background-image: url(../images/shopping-cart.png)
}

.cart-items {
    text-align: left;
    margin-bottom: 20px;
}

    .cart-items p {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .cart-items p span {
            margin-right: 10px;
        }

        .cart-items p button {
            background-color: #c00;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

.checkout {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
}

    .checkout h2 {
        margin-top: 0;
    }

    .checkout label {
        display: block;
        margin-bottom: 5px;
    }

    .checkout input {
/*        break-after:column;*/
    }
    .checkout select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .checkout button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
.payment {
    background - color: #f2f2f2;
    padding: 20px;
    text-align: left;
}

    .payment h2 {
        margin-top: 0;
    }

    .payment label {
        display: block;
        margin-bottom: 5px;
    }

    .payment input,
    .payment select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .payment button {
        background - color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

