html {
    background-color: white;
    font-family:sans-serif;
    /*font: Inter*/
    /*1.2K Roboto 401 Poppins 678 Montserrat 156 Fira Sans Sans serif*/
}
body {
    /*position: relative;*/
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    max-width: 960px;
}

main {
    padding: 10px;
    margin-top: 165px;
    background-color: antiquewhite;
}
    main img {
        border-radius: 10px;
    }

header {
    position: fixed;
    top: 0;
    width: 940px;
    background-color: cadetblue;
    color: aliceblue;
    height: 140px;
    padding: 10px;
    display: flex;
    z-index: 999;
/*    background-image: url(images/Leggingsheader.png);
    background-size: contain;
    background-repeat: no-repeat;*/
}

.cart-btn {
    border: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    /*height:30px;*/
    color: #333;
    border-radius: 10px;
}
    .cart-btn:hover, .cart-btn:active {
        background-color: #333;
        color: #fff;
        margin-top: -10px;
        margin-bottom: -10px;
        padding: 10px;
        border-radius: 10px;
    }

nav {
    background-color: #f2f2f2;
    padding: 15px;
    text-align: center;
}
    nav a {
        color: #333;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }
        nav a:hover {
            background-color: #333;
            padding: 10px;
            color: #fff;
            border-radius: 10px;
        }
        nav a.active {
            background-color: #333;
            padding: 10px;
            color: #fff;
            border-radius: 10px;
        }

h2 {
    color:darkcyan;
}

h3 {
    color:chocolate;
}
.shop-page {
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
    .shop-page:hover {
        color:yellow;
    }


footer {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 960px;
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

    footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

.modal {
    max-width: 200px;
    & > * {
    margin: 0 0 20px 0;
}


.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

.modalbutton, .modalbtn {
    float: right;
    height: 30px;
    border: 0;
    width: 80px;
    cursor: pointer;
    background: lightseagreen;
    color: black;
    font-weight: bold;
    padding: 0px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    margin-bottom: 0px;
}

.cart-status1 {
    /*background-color:darkcyan;*/
    float:left;
    /*padding:10px;*/
    margin-right:10px;
    width:40px;
}
.cart-status2 {
    /*background-color:darkcyan;*/
    float: left;
    /*padding:10px;*/
    margin-right: 10px;
    width: auto;
}